

/*  Global */

a {
	text-decoration: none;
}

.whitetext {
	color: #fff;
}

.illustration {
	width: 60%;
}

.illustration2 {
	width: 50%;
}

/* TOP BAR */

.topbar  {
	padding:20px 10px;
	background: #0E7CD1;
	
}


.topbar .row {
	padding: 0 0 0 0;
	border: none;
}

.emailLink {
	padding-left: 5px;
	color: #fff;
	font-size: 16px;
}

.tel {
	color: #fff;
	font-size: 16px;
}

/* NAV */


.navbar {
	padding-top: 0px;
	background: #ffffff;	
}
.navbar-default {
    background-color: #fff;
    box-shadow: 0px 2px 10px #b0b0b0;
}

.navbar ul{
	margin-top: 50px;
}

.navbar ul li {
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
	color: #0E7CD1;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 18px;
}	

.navbar-default .navbar-nav>li>a:hover {
	color: #358be7;
}

.navbar-brand {
	height: 120px;
}
	
.navbar-brand>img {
	height: 100%;
}

/* BODY */

.selections {
	background-color: rgba(249, 249, 249, 1);
	border-radius: 0 0 20px 20px;
	margin-bottom: 150px;
	width: 50%;
	-webkit-box-shadow: 2px 0px 33px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 0px 33px -6px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 33px -6px rgba(0,0,0,0.75);
	overflow: scroll;
	
}

.row {
	border-bottom: 1px solid #e9e9e9;
	padding-top: 75px;
}

.titleOne {
	width: 50%;
}

h1, .tablinks{
	 font-family: 'Questrial', sans-serif;
}

.mainimg{
	padding: 100px 0;
	
}

.thumbnail {
	text-align: center;
	background: none;
	border: none;
}


input {
	width: 3em;
	text-align: center;	
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/*BUTTONS */

.btn {
	padding: 10px 20px;
	border: none;
	background: #217ee1;
	color: #fff;
	margin-bottom: 200px;
}

.btn:hover {
	padding: 10px 20px;
	border: none;
	background: #3688df;
	color: #fff;
	margin-bottom: 200px;
	box-shadow: inset 1px 0px 13px rgba(209, 209, 209, 0.75)
	
}





  
  /*    TABS */

.tabs ul {
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #217ee1;
	border-radius: 10px 10px 0 0;
	width: 50%;
	margin-bottom: 0;
}

.tabs ul li {
	display: inline;
	padding: 10px;
}

.tabs ul li:hover {
	background: #2889e5;
}
  
.tabs ul li a {
	color: #fff;
	font-size: 16px;
	transition: all .2s ease-in; 
}

.tabs ul li a:hover {
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
}


/* FOOTER */

  .foot {
	   padding-bottom: 100px;
	   background: #337EBF;
  }
  .foot ul {
	  padding-left: 0;
  }
  .foot ul li  {
	  line-height: 30px;
	  list-style: none;
	  padding-left: 0;
	
  }
  .foot ul li a{
	  font-size: 14px;
	  
  }
   .foot ul li a:hover{
	  color:#dedede;
	  text-decoration: none;
	  font-seize: 15px;
	  letter-spacing: 1px;
	  
  }
  
  .foot .row {
	  border: none;
  }
  
  .foot2 {
	  
	   padding: 25px 0 ;
	   background: #256396;
	   color: #fff;
	   font-size: 12px;
  }
  
  
 /* MEDIA QUERIES */
 
 
 @media (max-width: 850px) {
	 
	 .titleOne {
	width: 90%;
    }
	 .selections, .tabs ul  {
		 width: 90%;
	 }
	 
	 .navbar-default .navbar-nav>li>a {
		 border-bottom: 1px solid #ececec;
		 width: 90%; 
		 margin: auto;
		 font-size: 14px;
	 }
	 
	 .navbar ul {
		 margin-top: 5px;
		 
		 
	 }
	 
	 .tabs ul li {
	display: inline-block;
	padding: 20px 10px;
    
    }
    
    .mainimg{
	padding: 100px 0;
	width: 100%;
    }
    
    .topbar .row {
	    text-align: center;
    }
   
  .col-sm-4, .col-sm-12 {
	 position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    }
   
   

 }
 

 
 
 
 
 